@import 'variables';
@import 'large';

header.site {
  height: unset;
  margin: initial;
}

nav.site {
  margin: unset;
}

.page_not_found {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
}

main {
  padding-top: 1rem;
}

footer.site {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0 1rem;
  border-radius: initial;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: $media-min-width) {
  footer.site {
    position: fixed;
    bottom: 0;
  }
}
