article {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $color-main, rgba(0, 0, 0, 0)) 1 100%;
  padding: 0 1rem 0;
  margin-bottom: 2rem;
  line-height: 1.5rem;

  p {
    margin-bottom: 0.2rem;
  }
}

article > header {
  margin-top: 0;
}

article > footer {
  margin: initial;
  text-align: unset;
}

article ul.tag_list {
  margin: 1rem 0;
  font-size: 1rem;

  li a {
    padding: unset;
    border: none;
  }

  li a::before {
    margin: -0.2rem;
    content: '#';
  }

  li:first-child {
    padding-left: initial;
  }
}
