.blog-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 3rem auto;
  border-bottom: 2px solid;
  border-color: $color-main;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;

  a {
    color: $color-text;
  }

  a:hover {
    color: $color-main;
  }
}

@media screen and (min-width: $media-min-width) {
  .blog-title {
    font-size: 3rem;
  }
}
