@keyframes bump {
  0% {
    transform: translateY(0);
    color: $color-main;
  }

  50% {
    color: $color-main;
    transform: translate(20%, -50%) scale(1.8);
  }

  100% {
    color: $color-main;
  }
}

@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes flip {
  25% {
    transform: rotateX(180deg);
    color: $color-secondary;
  }

  50% {
    transform: rotateY(180deg);
    color: $color-secondary;
  }

  75% {
    transform: rotateX(0deg);
    color: $color-secondary;
  }
}
