@import 'variables';

@media screen and (min-width: $media-min-width) {
  section > header {
    padding: initial;
  }

  section + section {
    margin-top: unset;
  }

  article ul.tag_list {
    justify-content: initial;
  }

  nav.site > ul {
    display: initial;
  }

  footer.site div.links {
    align-items: initial;
    flex-direction: unset;
  }
}
