a.button {
  display: inline-block;
  border: 1px solid;
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: $color-bkg-dark;
  background-color: $color-main;
}

a:hover.button {
  background-color: $color-bkg-light;
  color: $color-main;
}

section.list {
  padding-top: 1rem;
}

.paginator > ul > li + li {
  padding-left: 3rem;
}

section {
  color: $color-text;
  background: linear-gradient(to bottom, $color-bkg-light 0%, $color-bkg-dark 50%, $color-bkg-light 100%,);
  border-radius: 1rem;

  > header {
    padding-top: 1.5rem;
    text-align: center;
  }

  > footer {
    margin: 1rem;

    > ul {
      min-width: 20rem;
      font-size: 1.2rem;
      padding-bottom: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }
  }
}

section + section {
  margin-top: 3rem;
}

.paginator {
  padding: 2rem 0;
}

.paginator > ul {
  justify-content: center;
  font-size: 1.5rem;
}
