:root {
    --main-color: #FF7A00;
    --background-color: #050723;
    --side-pixels: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: var(--main-color);
}

body {
    color: var(--main-color);
    background-color: var(--background-color);
}

header li {
    display: inline;
}

header > h1 {
    padding-left: 50px;
    padding-right: 50px;
}

nav, main {
    margin-left: var(--side-pixels);
    margin-right: var(--side-pixels);
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        padding: 10px;
    }
}

main > section:nth-child(even) {
    display: none;
}

footer {
    text-align: center;
}