// :root stanza is parsed by index-tab.js and must be defined before each other
:root {
    --main-color: #FF7A00;
    --bkg-color-dark: #050723;
    --bkg-color-light: #151737;
    --responsive-max-width: 799px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: var(--main-color);
}

body {
    color: var(--main-color);
    background-color: var(--bkg-color-dark);
    font-family: sans-serif;
    font-weight: lighter;
}

// social icons and navbar items
header li, nav li {
    display: inline;

    a {
        text-decoration: none;
    }

    a:hover, a:visited {
        color: var(--main-color);
    }
}

header > {
    h1 {
        font-size: 2.5rem;
    }

    ul, h1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav {
        margin-left: 20px;
        margin-right: 20px;
    }
}

main {
    margin-top: 50px;
}

section {
    padding: 1rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
    background-color: var(--bkg-color-light);
}

article {
    margin-bottom: 3rem;

    a {
        text-decoration: none;
    }

    small > a {
        text-decoration: underline;
    }
}

.row {
    background-color: var(--bkg-color-light);
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        padding: 15px 10px 0px 10px;
    }
}

.extlink {
    text-decoration: none;
}

.extlink::after {
    display: inline-block;
    padding-left: 0.5rem;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f35d";
}

.select-tab {
    display: flex;
    text-align: center;

    a {
        width: 100%;
        font-size: xx-large;

        padding-top: 1rem;
        padding-bottom: 0.3rem;
        text-decoration: none;
        background-color: var(--bkg-color-dark);
        // color: var(--bkg-color-light);
        cursor: pointer;
    }

    a.selected {
        color: var(--main-color);
        background-color: var(--bkg-color-light);
    }
}

.animated {
    animation: fadeEffect 0.7s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

footer {
    text-align: center;
}