@import 'variables';
@import 'section';
@import 'article';
@import 'tag_list';
@import 'large';
@import 'title';

h4 {
  text-align: center;
}

ul.tag_list {
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  margin-top: 3rem;
}

aside {
  margin-top: 4rem;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 2rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 3fr 1fr;
  }

  aside {
    margin-top: 12rem;
  }
}
