@import 'variables';

main {
  h1,
  h2,
  h3 {
    margin: 4rem auto;
    color: $color-text;
    text-align: center;
  }
}

main nav ul {
  margin: 6rem auto;
  display: flex;
  justify-content: center;

  li + li {
    padding-left: 2rem;
  }
}
