@import 'variables';
@import 'section';
@import 'article';
@import 'tag_list';
@import 'list';
@import 'blog_title';

h1 {
  text-align: center;
  color: $color-text;
  margin-bottom: 3rem;
}

section > h1 {
  text-transform: uppercase;
}
