---
import { processArticleDate } from "../../lib/utils"
import Anchor from "../base/Anchor.astro"

export type Props = {
  content: string
  url: string
  timestamp: Date
}

const { content, url, timestamp } = Astro.props
---

<article class="relative zag-text zag-transition flex flex-col gap-3 mb-8 hover-zag-dotted-grid">
  <div class="text-base prose prose-sm dark:prose-invert max-w-none [&_a]:zag-offset [&_a]:underline [&_a]:font-medium [&_a]:break-all break-words">
    <Fragment set:html={content} />
  </div>
  <footer class="zag-muted zag-transition flex flex-wrap gap-x-3 gap-y-1 items-center">
    {timestamp ? <time datetime={timestamp.toISOString()}>{processArticleDate(timestamp)}</time> : null}
    <Anchor url={url} class="text-sm">View on Mastodon</Anchor>
  </footer>
</article>
