<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ if .IsHome }}
    <title>{{ .Site.Title }} - Home</title>
    {{ else }}
    <title>{{ .Site.Title }} - {{ .Page.Title }}</title>
    {{ end }}

    {{ $normalize := resources.Get "css/normalize.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $normalize.RelPermalink }}" type="text/css">

    {{ $fontawesome := resources.Get "css/fontawesome.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $fontawesome.RelPermalink }}" type="text/css">

    {{ $css := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css">
</head>

<body>

    <header>
        <nav>
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    {{ $class := "sidebar-nav-item" }}
                    {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                                {{ $class = "sidebar-nav-item active" }}
                    {{end}}
                    <a
                        class="{{ $class }}"
                        href="{{ .URL }}"
                        title="{{ .Title }}"
                    >
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>

        {{ block "header" . }}{{ end }}
    </header>

    <main>{{ block "main" . }}{{ end }}</main>

    <footer>
        <small>
            Last update: <em>{{ partial "date" now.UTC }} UTC</em>
            -
            &copy; {{ now.Format "2006"}} {{ $.Param "author"}}
        </small>
    </footer>

</body>

</html>
