<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{- $title := .Page.Title -}}
    {{- if .IsHome -}}
    {{- $title = .Site.Title -}}
    {{- end -}}
    <title>{{ $title }}</title>

    {{- with resources.Get "css/normalize.css" | minify -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css">
    {{- end -}}

    {{- with resources.Get "css/fontawesome.css" | minify -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css">
    {{- end -}}

    {{- with resources.Get "scss/main.scss" | toCSS | minify -}}
    <style>{{ .Content | safeCSS }}</style>
    {{- end -}}

    {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    {{- block "head" . }}{{ end -}}
</head>

<body>
    <nav class="sitenav">
        <ul>
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
            <li>
                {{- $class := "sidebar-nav-item" -}}
                {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                    {{- $class = "sidebar-nav-item active" -}}
                {{- end -}}
                <a
                    class="{{ $class }}"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                >
                    {{- .Name -}}
                </a>
            </li>
            {{- end -}}
        </ul>
    </nav>

    <header class="site">{{ block "header" . }}{{ end }}</header>

    <main>{{ block "main" . }}{{ end }}</main>

    <footer class="site">
        <p>
            Last update: <em>{{ now.UTC.Format "02 Jan 2006 15:04 UTC" }}</em>
        </p>

        <p>
            All content licensed under
            <a
                href="https://creativecommons.org/licenses/by-sa/4.0/"
                title="Go to Creative Commons license page"
            >
                <i class="fab fa-creative-commons"></i>
                <i class="fab fa-creative-commons-by"></i>
                <i class="fab fa-creative-commons-sa"></i>
            </a>
            unless otherwise stated
        </p>
    </footer>

</body>

</html>
