{{- define "head" -}}

    {{- $title := .Page.Title }}
    <title>{{ $title }}</title>

    {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}

{{ end -}}

{{ define "main" }}
{{ $section := . }}

<section class="list">
    {{- $title := printf "%s's %s" (.Param "author") .Page.Title -}}
    <h1>
        <a
            href="{{ .Page.RelPermalink }}"
            title="Go to {{ $title }} main page"
        >
            {{- $title -}}
        </a>
    </h1>

    {{- range (.Paginator 5).Pages -}}
        {{ partial "article" (dict "article" . "section" $section) }}
    {{- end -}}

    {{- $paginator := .Paginate (where .Pages "Type" "posts") -}}
    <nav class="paginator">
        <ul>
            {{- if $paginator.HasPrev -}}
            <li>
                <a
                    href="{{ $paginator.Prev.URL }}"
                    title="List newer articles"
                    class="button"
                >Newer</a>
            </li>
            {{- end -}}
            {{- if $paginator.HasNext -}}
            <li>
                <a
                    href="{{ $paginator.Next.URL }}"
                    title="List older articles"
                    class="button"
                >Older</a>
            </li>
            {{- end -}}
        </ul>
    </nav>

</section>

<aside>
    <h4 class="tag_list">Categories</h4>

    <ul class="tag_list">
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ partial "tag" .Term }}
        {{ end }}
    </ul>
</aside>
{{- end -}}
