{{- define "head" -}}

    {{- $title := printf "%s's %s" (.Param "author") .Page.Title -}}
    <title>{{ $title }}</title>

    {{- partial "scss" "list" -}}

    {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}

{{ end -}}

{{ define "main" }}
{{- $title := printf "%s's %s" (.Param "author") .Page.Title -}}

<section class="list">
    <h1 class="blog-title">
        <a
            href="{{ .Page.RelPermalink }}"
            title="Go to {{ $title }} main page"
        >
            {{- $title -}}
        </a>
    </h1>

    {{ partial "articles" . }}
</section>

<aside>
    {{ partial "tag_list" . }}
</aside>
{{- end -}}
