{{- define "head" -}}
{{- $blogTitle := .Parent.Title -}}

    <title>{{ $blogTitle }} - {{ .Title }}</title>

    <link rel="preconnect" href="https://x.disq.us">
{{- end -}}

{{- define "header" -}}
{{- $blogTitle := .Parent.Title -}}
<header>
    <h1 class="blog-title">
        <a
            href="{{ .Parent.RelPermalink }}"
            title="Go to {{ .Parent.Title }} main page"
        >
            {{ $blogTitle }}
        </a>
    </h1>
</header>
{{- end -}}

{{ define "main" }}
<article>

    <h1>{{ .Title }}</h1>

    <small class="date">
        <a
            href="{{ .RelPermalink }}"
            title="Permanent link to this article"
        >
            {{ partial "date" .Date }}
        </a>
    </small>

    <div class="content">
        {{ .Content }}
    </div>

    <footer>
        {{- with .Params.tags -}}
        <ul class="tag_list">
            {{- range . -}}
                {{- partial "tag" . -}}
            {{- end -}}
        </ul>
        {{- end -}}
    </footer>

    <div class="comments">
        {{ partial "comments-form" . }}
    </div>

</article>
{{ end }}
