{{- define "head" -}}
    <title>{{ .Title }}</title>
{{- end -}}

{{- define "header" -}}
<header>
    {{- $blogTitle := printf "%s's %s" (.Param "author") .Parent.Title -}}
    <h2 class="blog-title">
        <a
            href="{{ .Parent.RelPermalink }}"
            title="Go to {{ .Parent.Title }} main page"
        >
            {{ $blogTitle }}
        </a>
    </h2>
</header>
{{- end -}}

{{ define "main" }}
    <article>
        <h1>{{ .Title }}</h1>

        <small class="date">
            <a
                href="{{ .RelPermalink }}"
                title="Permanent link to this article"
            >
                {{ partial "date" .Date }}
            </a>
        </small>

        {{ .Content }}

        <footer>
            {{- with .Params.tags -}}
            <ul class="tag_list">
                {{- range . -}}
                    {{- partial "tag" . -}}
                {{- end -}}
            </ul>
            {{- end -}}
        </footer>

    </article>
{{ end }}
