{{- define "head" -}}
{{ $blogMainPage := .Site.GetPage "/blog" }}
{{- $title := printf "%s's %s" (.Param "author") $blogMainPage.Title -}}

    <title>{{ $title }}</title>

    {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}

{{ end -}}

{{- define "header" -}}
{{-  $blogMainPage := .Site.GetPage "/blog" -}}
{{- $blogTitle := printf "%s's %s" (.Param "author") $blogMainPage.Title -}}

<header>
    <h1 class="blog-title">
        <a
            href="{{ $blogMainPage.RelPermalink }}"
            title="Go to {{ $blogMainPage.Title }} main page"
        >
            {{- $blogTitle -}}
        </a>
    </h1>
</header>
{{ end }}

{{ define "main" }}

<section class="list">
    <h1>{{ .Title }} articles</h1>

    {{ partial "articles" . }}
</section>

<aside>
    {{ partial "tag_list" . }}
</aside>
{{- end -}}