---
import { siteConfig } from "../config"

const date = new Date()
const year = date.getFullYear()
---

<footer class="mt-16 mb-8">
  <nav class="zag-transition text-center text-sm">
    <ul class="flex flex-wrap justify-center gap-x-4 gap-y-1">
      {siteConfig.splashPages.map(({ label, href }) => (
        <li>
          <a
            class="zag-text hover:underline"
            href={href}
            {...(href.startsWith("http") ? { target: "_blank", rel: "noopener noreferrer" } : {})}
          >
            /{label}
          </a>
        </li>
      ))}
    </ul>
  </nav>
  <p class="zag-text zag-transition mt-4 text-center text-sm font-medium">
    &copy; {year}
    {siteConfig.personal.name}
  </p>
</footer>
