{{- $id := printf "%s/%s" .Section .File.ContentBaseName -}}
{{- $sectionData := (index .Site.Data.comments .Section) -}}

{{ with (index $sectionData .File.ContentBaseName) }}
<h4>{{ len . }} comment{{ if gt (len .) 1 }}s{{ end }}</h4>
    <ol>
    {{ range . }}
    {{- $commentId := printf "comment-%s" ._id }}
        <li id="{{ $commentId }}">
            {{- if not (eq .email "") -}}
            <img
                src="https://www.gravatar.com/avatar/{{ .email }}"
                alt="Gravatar profile image for commenter named '{{ .name }}'"
                class="avatar"
            >
            {{- end -}}

            <h5>{{ .name | htmlEscape }}</h5>

            <small class="date">
                <a
                    href="{{ .RelPermalink }}#{{ $commentId }}"
                    title="Permanent link to {{ .name }}'s comment"
                >
                    {{ partial "date" .date }}
                </a>
            </small>

            <div>
                {{ .body | markdownify }}
            </div>
        </li>
    {{- end -}}
    </ol>
{{- end -}}

<form method="POST" action="{{ .Param "staticmanUrl" }}">

    <label class="title" for="comment">Leave a comment</label>
    <textarea id="comment" name="fields[body]" placeholder="Feel free to use Markdown" rows="5" required></textarea>

    <div class="input">
        <input id="name" name="fields[name]" type="text" placeholder="Your name" required>
        <label for="name">Your name</label>

        <input id="email" name="fields[email]" type="email" placeholder="your@mail.here (optional)">
        <label for="email">Gravatar email <small class="email">(hashed with MD5, i.e. never stored nor displayed in clear text)</small>
        </label>
        <input id="submit" type="submit" value="Post Comment">
    </div>
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ $id }}">

</form>