{{ $commentsFiles := readDir "data/comments/blog" }}
{{ $comments := .Site.Data.comments.blog }}

{{ range where $commentsFiles "Name" .File.BaseFileName }}
    <h4>Comments {{ .Name }}</h4>

    <ol>
    {{ range $comm := (index $comments .Name ) }}
        <li>
            {{ $comm.body }} - {{ $comm.date }} - {{ $comm.name }}
        </li>
    {{ end }}
    </ol>

{{ end }}

{{ $id := .RelPermalink | strings.TrimRight "/" | strings.TrimLeft "/" }}
<form method="POST" action="{{ .Param "staticmanUrl" }}">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ $id }}">
    <input name="fields[name]" type="text" placeholder="Your name">
    <input name="fields[email]" type="email" placeholder="Your email address (optional)">
    <textarea name="fields[body]" placeholder="Your comment. Feel free to use Markdown." rows="10"></textarea>
    <input type="submit" value="Submit">
</form>