{{ $context := .context }}
{{ $sections := where $context.Site.Sections "Params.index_row" .row }}

<nav>
{{ range $section_index, $section := $sections }}

    {{ if isset $section.Params "index_row" }}
    <a href="#{{ anchorize $section.Title }}"{{ if eq $section_index 0 }} class="active"{{ end }}>
        {{ $section.Title }}
    </a>
    {{ end }}

{{ end }}
</nav>

{{ range $section_index, $section := $sections }}
<section id="{{ anchorize $section.Title }}">

    {{ if isset $section.Params "index_row" }}

        {{ range first 5 $section.Pages }}
        {{ $url := or .Params.src_url .RelPermalink }}

        <article>

            {{ if $section.Params.show_title }}
            <h3>
                <a href="{{ $url }}">{{ .Title }}</a>
            </h3>
            {{ end }}

            {{ with .Params.description }}
                {{ . }}
            {{ else }}
                {{ .Content | truncate 380 }}
            {{ end }}

            <a
                href="{{ $url }}"
                {{ if isset .Params "src_url" }}class="extlink"{{ end }}
            >
                {{ partial "date" .Date }}
                {{ if (eq $section.Title "Tech Blog") }}
                Read more...
                {{end}}
            </a>

        </article>
        {{ end }}

        <a
            href="{{ or .Params.src_url .RelPermalink }}"
            {{ if isset .Params "src_url" }}class="extlink"{{ end }}
        >
            {{ $more_text := "More..." }}
            {{ if (eq $section.Title "Tech Blog") }}{{ $more_text = "More articles" }}{{end}}
            {{ if (eq $section.Title "Micro Blog") }}{{ $more_text = "More posts" }}{{end}}
            {{ if (eq $section.Title "Music Mixes") }}{{ $more_text = "More mixes" }}{{end}}
            {{ if (eq $section.Title "Videos") }}{{ $more_text = "More videos" }}{{end}}
            {{ $more_text }}
        </a>

    {{ end }}

</section>
{{ end }}