{{ $context := .context }}
{{ $row := .row }}
{{ $sections := where $context.Site.Sections "Params.index_row" $row }}

<nav class="select-tab row_{{ $row }} small-only if-js-enabled" hidden>
{{ range $section_index, $section := $sections }}

    {{ if isset $section.Params "index_row" }}
    <a
        class="row_{{ $row }}
               col_{{ add $section_index 1 }}
               {{ if eq $section_index 0 }}selected{{ end }}
               small-only"
        hidden
    >
        {{ $section.Title }}
    </a>
    {{ end }}

{{ end }}
</nav>

{{ range $section_index, $section := $sections }}
<section
    class="row_{{ $row }} col_{{ add $section_index 1 }}"
>

    <header>
        <h2>
            <a
                href="{{ or .Params.src_url .RelPermalink }}"
                {{ if isset $section.Params "src_url" }}class="extlink"{{ end }}
            >
                {{ $section.Title }}
            </a>
        </h2>
    </header>

    {{ if isset $section.Params "index_row" }}

    {{ range first (.Param "listed_articles") $section.Pages }}
    {{ partial "article" (dict "article" . "section" $section) }}
    {{ end }}

    <footer>
        <a
        href="{{ or .Params.src_url .RelPermalink }}"
        {{ if isset .Params "src_url" }}class="extlink"{{ end }}
        {{ with .Param "link_title" }}title="{{ . }}"{{ end }}
        >
        {{ if isset $section.Params "article_kind" }}
            More {{ $section.Params.article_kind | pluralize }}
        {{ else if isset $section.Params "src_url" }}
            More {{ $section.Title | pluralize }}
        {{ else }}
            More articles
        {{end}}
        </a>
    </footer>

    {{ end }}

</section>
{{ end }}