{{ $context := .context }}
{{ $row := .row }}
{{ $sections := where $context.Site.Sections "Params.index_row" $row }}

<nav class="select-tab row_{{ $row }} small-only" hidden>
{{ range $section_index, $section := $sections }}

    {{ if isset $section.Params "index_row" }}
    <a
        class="row_{{ $row }}
               col_{{ add $section_index 1 }}
               {{ if eq $section_index 0 }}selected{{ end }}
               small-only"
        hidden
    >
        {{ $section.Title }}
    </a>
    {{ end }}

{{ end }}
</nav>

{{ range $section_index, $section := $sections }}
<section
    class="row_{{ $row }} col_{{ add $section_index 1 }}"
>

    <h2 class="large-only">
        <a
            href="{{ or .Params.src_url .RelPermalink }}"
            {{ if isset $section.Params "src_url" }}class="extlink"{{ end }}
        >
            {{ $section.Title }}
        </a>
    </h2>

    {{ if isset $section.Params "index_row" }}

        {{ range first $context.Site.Params.articles_in_index $section.Pages }}
        {{ partial "article" (dict "article" . "section" $section) }}
        {{ end }}

        <a
            href="{{ or .Params.src_url .RelPermalink }}"
            {{ if isset .Params "src_url" }}class="extlink"{{ end }}
        >
            {{ if isset $section.Params "article_kind" }}
                More {{ $section.Params.article_kind | pluralize }}
            {{ else if isset $section.Params "src_url" }}
                More {{ $section.Title | pluralize }}
            {{ else }}
                More articles
            {{end}}
        </a>

    {{ end }}

</section>
{{ end }}