{{- $row := .row -}}
{{- $section := .section -}}
{{- $section_index := .section_index -}}

<section
    class="row_{{ $row }} col_{{ add $section_index 1 }}"
    id="{{ $section.Title | anchorize }}"
>

    <header>
        <h2>
            <a
                href="{{ or $section.Params.src_url $section.RelPermalink }}"
                {{ if isset $section.Params "src_url" }}class="extlink"{{ end }}
                {{ with $section.Param "link_title" }}title="{{ . }}"{{ end }}

            >
                {{- $section.Title -}}
            </a>
        </h2>
    </header>

    {{- if isset $section.Params "index_row" -}}

    {{- range first ($section.Param "listed_articles") $section.Pages -}}
    {{ partial "article" (dict "article" . "section" $section) }}
    {{- end -}}

    <footer>
        <!-- FIXME add tags list -->

        <a
            href="{{ or $section.Params.src_url $section.RelPermalink }}"
            {{ if isset $section.Params "src_url" }}class="extlink"{{ end }}
            {{ with $section.Param "link_title" }}title="{{ . }}"{{ end }}
        >
        {{- if isset $section.Params "article_kind" -}}
        More {{ $section.Params.article_kind | pluralize -}}
        {{- else if isset $section.Params "src_url" -}}
        More {{ $section.Title | pluralize -}}
        {{- else -}}
        More articles
        {{- end -}}
        </a>
    </footer>

    {{- end -}}

</section>