{{- $row := .row -}}
{{- $section := .section -}}
{{- $section_index := .section_index -}}

<section
    class="row_{{ $row }} col_{{ add $section_index 1 }}"
    id="{{ $section.Title | anchorize }}"
>

    <header>
        <h2>
            <a
                href="{{ or $section.Params.src_url $section.RelPermalink }}"
                {{ if isset $section.Params "src_url" }}class="extlink"{{ end }}
                {{ with $section.Param "link_title" }}title="{{ . }}"{{ end }}

            >
                {{- $section.Title -}}
            </a>
        </h2>
    </header>

    {{- if isset $section.Params "index_row" -}}

    {{- range first ($section.Param "listed_articles") $section.Pages -}}
    {{ partial "article" (dict "article" . "section" $section) }}
    {{- end -}}

    <footer>
        {{- if and $section.Params.show_tags (gt $section.Site.Taxonomies.tags 0) -}}
        <ul class="tag_list">
            {{ range first 10 $section.Site.Taxonomies.tags.ByCount}}
            <li>
                <a href="/tags/{{ .Term | urlize }}">
                    {{ .Term }}
                </a>
            </li>
            {{ end }}
            <li>
                <a href="/tags/">
                    More tags&#8230;
                </a>
            </li>
        </ul>
        {{- end -}}

        <ul>
            <li>
                <a
                    href="{{ or $section.Params.src_url $section.RelPermalink }}"
                    {{ if isset $section.Params "src_url" -}}
                    class="extlink button"
                    {{ else }}
                    class="button"
                    {{ end }}
                    {{ with $section.Param "link_title" }}title="{{ . }}"{{ end }}
                >
                {{- if isset $section.Params "article_kind" -}}
                    More {{ $section.Params.article_kind | pluralize -}}
                {{- else if isset $section.Params "src_url" -}}
                    More {{ $section.Title | pluralize -}}
                {{- else -}}
                    More articles
                {{- end -}}
                </a>
            </li>

            {{- with $section.Params.feed -}}
            <li>
                <a href="{{ . }}" class="button" title="RSS feed">
                    Subscribe <i class="fas fa-rss"></i>
                </a>
            </li>
            {{- end -}}
        </ul>

    </footer>

    {{- end -}}

</section>