{{ $socialNetworks := . }}
<ul class="social-icons">
    {{ range . }}
    {{ $menu_entry := . }}
    {{ $title := printf "Go to my %s account" (.Name | humanize) }}
    <li>
        <a
            href="{{ .URL }}"
            title="{{ $title }}"
            aria-label="{{ $title }}"
        >
            <span class="hide">{{ $title }}</span>
            <i class="fab fa-{{ $menu_entry.Name }} fa-3x"></i>
        </a>
    </li>
    {{ end }}

    {{- $text := "Contact me via email" -}}
    <li>
        <a
            href="/contact"
            title="{{ $text }}"
            aria-label="{{ $text }}"
        >
            <span class="hide">{{ $text }}</span>
            <i class="fas fa-at fa-3x"></i>
        </a>
    </li>
</ul>