{{- define "head" -}}

{{- $title := .Site.Title }}
    <title>{{ $title }}</title>

    {{- with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end -}}

    {{- partial "google_font" (dict "fontFamily" "Press Start 2P" "text" "as Code") }}

{{ end -}}

{{- define "header" -}}
<header class="site">

    <div class="hero">

        <div class="index">

            <div class="claim">
                {{- .Content -}}
            </div>

            <div class="social">
                {{- partial "social_icons" .Site.Menus.socialnetworks -}}
                <span>
                    I'm social !
                    <i class="far fa-hand-point-up bump"></i>
                </span>
            </div>

        </div>
    </div>

</header>
{{- end -}}

{{- define "main" -}}

    {{ $context := . }}
    {{ range $rowNumber :=  (seq 2) }}
    <div
        class="index_content row_{{ $rowNumber }}"
    >
        {{- partial "index_row" (dict "context" $context "row" $rowNumber) -}}
    </div>
    {{end }}

{{- end -}}
