{{ define "header" }}

    <div class="index">
        <div class="claim">
            {{- .Content -}}
        </div>

        <div class="social">
            {{- partial "social_icons" .Site.Menus.socialnetworks -}}
            <!-- FIXME use handwritten font -->
            <span class="center">
                I'm social!
                <i class="far fa-hand-point-up bump"></i>
            </span>
        </div>

    </div>

{{ end }}

{{ define "main" }}

    {{ $context := . }}
    {{ range $rowNumber :=  (seq 1) }}{{/*  fixme  */}}
    <div
        class="index_content row_{{ $rowNumber }}"
    >
        {{ partial "index_row" (dict "context" $context "row" $rowNumber) }}
    </div>
    {{end }}

    {{ $js := resources.Get "js/index-tab.js" | babel | minify }}
    <script>
        {{/* $js.Content | safeJS */}}
    </script>

{{ end }}
