<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }} - Home</title>
    <script src="js/mixcloud.js" defer></script>
</head>
<body>
    <head>
        <nav>
            <ul>
                <li>Home</li>
                <li>Tech</li>
                <li>Music</li>
                <li>Contact</li>
            </ul>
        </nav>
        <h1>Some claim</h1>
    </head>

    <main>
        <section>
            <h2><a href="/mastodon/">MicroBlog</a></h2>
            <article>article1</article>
            <article>article2</article>
            <article>article3</article>
        </section>
        <section>
            <h2><a href="/tech/">TechBlog</a></h2>
            <article>article1</article>
            <article>article2</article>
            <article>article3</article>
        </section>
        <section>
            <h2><a href="/music/">Music Mixes</a></h2>
            <article>article1</article>
            <article>article2</article>
            <article>article3</article>
        </section>
    </main>

    <footer></footer>
</body>
</html>
