{{ define "header" }}
<h1>Some claim</h1>
<ul>
    {{ range .Site.Menus.socialnetworks }}
    <li><a href=""><i class="fab fa-{{ .Name }} fa-3x"></i></a></li>
    {{ end }}
</ul>
{{ end }}

{{ define "main" }}
    {{ range .Site.Sections }}
    <section>
        <h2>
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </h2>
        <ul>
            {{ range first 5 .Pages }}
            <li>
                <article>
                    <h3>
                        <a href="{{ .Params.src_url }}">
                            {{ .Date }}
                        </a>
                    </h3>
                    {{ .Content }}
                </article>
            </li>
            {{ end }}
            <li>
                <article>
                    <h3>
                        <a href="{{ .Params.src_url }}">
                            Read more...
                        </a>
                    </h3>
                </article>
            </li>
        </ul>
    </section>
    {{ end }}
{{ end }}
