---
export type Props = {
  tags: string[]
  class?: string
}

const { tags, class: className } = Astro.props
---

{tags.length > 0 && (
	<ul class:list={["flex flex-wrap gap-2 list-none m-0 p-0", className]}>
		{tags.map((tag) => (
			<li class="text-xs bg-zag-grid px-2 py-0.5 rounded"><a href={`/blog/tags/${tag}`} class="zag-offset underline">#{tag}</a></li>
		))}
	</ul>
)}